<section class="hero is-primary is-bold">
  <div class="hero-body">
    <div class="container">

      <h1 class="title">Contact The Flower</h1>


      <form ngNoForm action="https://formspree.io/sarahtoshi714@gmail.com" method="POST">

        <!-- name -->
        <div class="field">
          <input type="text" name="name" class="input" placeholder="Your Name" [(ngModel)]="name">
        </div>

        <!-- email -->
        <div class="field">
          <input type="email" name="email" class="input" placeholder="Your Email" [(ngModel)]="email">
        </div>

        <!-- message -->
        <div class="field">
          <textarea class="textarea" name="message" placeholder="Ask about our Flower Power"
            [(ngModel)]="message"></textarea>
        </div>

        <button type="submit" class="button">Submit</button>

      </form>

    </div>
  </div>
</section>