.input {
    color: rgb(228, 190, 87);
    background-color: rgb(15, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    border-style: solid;
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;

}

.textarea {
    color: rgb(228, 190, 87);
    background-color: rgb(15, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    width: 50%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

.button{

    color: rgb(228, 190, 87);
    background-color: rgb(15, 0, 0);
}
