

.deck{
    display: inline-block;
    color: rgb(228, 190, 87);
    background-color: rgb(15, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.card{
    width: 30vw;
    text-align: center;
    
}

.card:hover{
    box-shadow: 0.5em 0.5em 2em rgba(0, 0, 0, 0.2);
}

.cardContainer{
    padding:1em 2em;
}