.info {
    color: rgb(228, 190, 87);
    background-color: rgb(15, 0, 0);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif

}

.infoTwo {
    text-align: center;
}

.infoThree{
    padding: 70px;
    border:
}