
<form *ngIf = "token === ''" [formGroup]= "loginInfo" (ngSubmit) = "onAdminLogin()">
  <label for = "email">Admin Email:</label>
  <input type = "text" name = "email" required formControlName = "email">

  <label for = "password">Password:</label>
  <input type = "text" name = "password" required formControlName = "password">

  <button type = "submit">Login</button>

</form>

<div *ngIf = "token != ''">
  <button (click)="logout()">Logout</button>
  <app-adminproductspage [token] = "token"></app-adminproductspage>
</div>

