<div class="admin">
  <form *ngIf="token === ''" [formGroup]="loginInfo" (ngSubmit)="onAdminLogin()">

    <div class="email">
      <label for="email">Admin Email:</label>
      <input type="text" name="email" required formControlName="email">
    </div>

    <div class="password">
      <label for="password">Password:</label>
      <input type="password" name="password" required formControlName="password">
    </div>

    <button type="submit" class="loginBtn">Login</button>

  </form>

  <div *ngIf="token != ''">
    <button (click)="logout()" class="logoutBtn">Logout</button>
    <app-adminproductspage [token]="token"></app-adminproductspage>
  </div>
</div>